
.container img{
    display: inline-block;
    max-width: 100%;
}


.biliplayer {
    width: 1000px;
    height: 550px;
}

pre > code {
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
    font-size:18px;
}

@media screen and (max-width: 1000px) {
    .container img{
        width: 100%;
    }
    .biliplayer {
        width: 100%;
        height: 250px;
    }
}


/* table 样式 */
/* 添加表格的外边框和内边距 */
table {
    border-collapse: collapse;
    width: 100%;
}
  
thead {
    height: 40px;
    font-size: 18px;
}

  /* 设定表格的边框样式和颜色 */
table, th, td {
    border: 1px solid #ccc;
}
  
  /* 设置表头的背景颜色和文字颜色 */
th {
    background-color: #f2f2f2;
    color: #333;
}
  
  /* 设置表格内容的对齐方式和内边距 */
td {
    text-align: left;
    padding: 8px;
}
  
  /* 设置表格的奇偶行颜色交替 */
tr:nth-child(even) {
    background-color: #f5f5f5;
}


/* blockquote 引用块样式 */
blockquote {
    margin: 2em 0;
    padding: 5px 15px;
    position: relative;
    color: rgba(52,73,94,.8);
    background-color: rgba(0,71,171,5%);
    border-left: 3px solid rgba(0,71,171,.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,.125);
}

/* 代码高亮插件 样式 */
.highlight {
    margin: 1em 0;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,.125);
    position: relative;
}


a {
    color: #3700EE;
    text-decoration: none;
}

a:hover {
    color: #ff0000; /* 鼠标悬停时的颜色 */
}


a:active {
    color: #ff00ff; /* 点击时的颜色 */
}


ul{
    padding-inline-start: 20px;
}

hr {
    max-width: 100em;
}



.header-div{
    margin: 0px auto;
    max-width: 70em;
}


.article-index{
    max-width: 70em;
    margin-left: 10px;
    margin: 20px auto;
}

.article-index-title{
    display: inline-block; 
}

.article-index-tag{
    margin-top: 12px;
}


.raticle-index-desc{
    margin-top: 15px;
}

.read-more{
    margin-top: 15px;
}


.page-class{
    max-width: 70em;
    margin: 0px auto;
    text-align: center;
    margin-top: 50px;
}

.copyright-class{
    max-width: 70em;
    margin: 0px auto;
    text-align: center;
}


.article-detail {
    max-width: 70em;
    margin: 0px auto;
}

.article-detail-tag{
    max-width: 70em;
    margin: 0px auto;
}


.article-detail .article-detail-content h2{
    box-shadow: #5f5a4b 0 0 0 1px,rgba(10,10,0,.5)1px 1px 6px 1px;
    color: #fff;
    font-family: 微软雅黑,宋体,黑体,Arial;
    font-weight: 700;
    line-height: 1.3;
    text-shadow: #222 2px 2px 3px;
    background: #2b6695;
    border-radius: 6px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 10px;
    margin: 18px 0 18px -5px!important;
}


.toc-class{
    text-align: left;
}

.article-detail-pager{
    max-width: 70em;
    margin: 0px auto;
    text-align: center;
}